<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/same.css">
    <link rel="stylesheet" href="css/details.css">
</head>
<body>
     <div id="header">
        <div class="top">
            <div class="margin">
                <div class="top-l">
                    <ul class="slidebox">
                        <li>
                            <a><span class="iconfont icon-phone"></span>手机喜地</a>
                        </li>
                        <li>
                            <a><span class="iconfont icon-wechat"></span>关注喜地</a>
                        </li>
                        <li>
                            <a><span class="iconfont icon-info"></span>客户服务</a>
                        </li>
                    </ul>
                    <div class="book">
                        <a href="#"><span class="iconfont icon-book-minus"></span>消费者告知书</a>
                    </div>
                    <div class="free">
                        <a href="#">全场满98包邮</a>
                    </div>
                </div>
                <div class="top-r">
                    <div class="user">
                        <a href="#" class="login">登录</a>
                        <a href="#" class="reg">注册</a>
                        <span>|</span>
                    </div>
                    <div class="dd"><a href="#">我的订单</a></div>
                    <div class="me"><a href="#">个人中心</a></div>
                    <div class="carbox">
                        <a>
                            <span class="car"></span>
                            <span class="num">0</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hd margin">
            <a href="index.html" class="logo"></a>
            <form action="" class="search">
                <input type="text">
                <input type="button">
            </form>
            <ul>
                <li><a href="#"><span class="hw"></span>海外进口</a></li>
                <li><a href="#"><span class="gc"></span>工厂直价</a></li>
                <li><a href="#"><span class="yc"></span>原产纯品</a></li>
                <li><a href="#"><span class="gn"></span>国内直邮</a></li>
            </ul>
        </div>
        <div class="nav margin clear">
            <div class="nav-l">
                <p class="nav-slide">商品分类</p>
                <ul class="nav-slide-box">
                    <li>
                        <div class="slide-title">
                            <a href="#">饮食厨房</a>
                        </div>
                        <div class="slide-cont">
                            <ul class="clear"></ul>
                        </div>
                    </li>
                    <li>
                        <div class="slide-title">
                            <a href="#">母婴用品</a>
                        </div>
                        <div class="slide-cont">
                            <ul class="clear"></ul>
                        </div>
                    </li>
                    <li>
                        <div class="slide-title">
                            <a href="#">鞋包配饰</a>
                        </div>
                        <div class="slide-cont">
                            <ul class="clear"></ul>
                        </div>
                    </li>
                    <li>
                        <div class="slide-title">
                            <a href="#">卫浴个护</a>
                        </div>
                        <div class="slide-cont">
                            <ul class="clear"></ul>
                        </div>
                    </li>
                    <li>
                        <div class="slide-title">
                            <a href="#">家居生活</a>
                        </div>
                        <div class="slide-cont">
                            <ul class="clear"></ul>
                        </div>
                    </li>
                    <li>
                        <div class="slide-title">
                            <a href="#">办公通勤</a>
                        </div>
                        <div class="slide-cont">
                            <ul class="clear"></ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nav-country">
                <ul>
                    <li><a href="#">16国特品</a></li>
                    <li><a href="#">德国</a></li>
                    <li><a href="#">日本</a></li>
                    <li><a href="#">韩国</a></li>
                    <li><a href="#">英国</a></li>
                    <li><a href="#">意大利</a></li>
                    <li><a href="#">法国</a></li>
                    <li><a href="#">西班牙</a></li>
                    <li><a href="#">希腊</a></li>
                    <li><a href="#">澳大利亚</a></li>
                    <li><a href="#">新西兰</a></li>
                    <li><a href="#">瑞典</a></li>
                    <li><a href="#">丹麦</a></li>
                    <li><a href="#">芬兰</a></li>
                    <li><a href="#">比利时</a></li>
                    <li><a href="#">美国</a></li>
                    <li><a href="#">奥地利</a></li>
                    <li><a href="#">巴西</a></li>
                    <li><a href="#">瑞士</a></li>
                </ul>
            </div>
            <div class="nav-r">
                <div class="nav-r-article">
                    <a href="#">
                        <span></span>全部文章
                    </a>
                </div>
                <div class="nav-r-shop">
                    <a href="#">
                        <span></span>世界超市
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="cont">
        <div class="margin">
            <div class="list-pos clear">
                <a href="#">首页</a>
                <i></i>
                <span>锅具</span>
            </div>
            <div class="detail-box clear">
                <div class="detail-main">
                    <!-- <div class="detail-top clear">
                        <div class="detail-show">
                            <div class="detail-show-pic">
                                <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a993e3b90f6140607068760d79d9f54133500842dd515aa3d.jpeg/800x800/500" alt="">
                            </div>
                            <ul class="clear">
                                <li>
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0ad5684a663ffe940b8ea394bd10b833263500842dd515aa3d.jpeg/1500x1500/66" alt="">
                                    </a>
                                </li>
                                
                            </ul>
                            <div class="detail-share clear">
                                <a href="#" class="love"></a>
                                <span>|</span>
                                <div class="share clear">
                                    <a href="#"></a>
                                    <span>分享</span>
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="detail-desc">
                            <div class="detail-desc-country">
                                <img src="https://static.xidibuy.com/images/flags/icon-de.png" alt="">
                                <span>德国</span>
                                <span>|</span>
                                <a href="#">DHT</a>
                            </div>
                            <h1>德国原产DHT重型铸铝合金Lotan涂层煎炒多用不粘锅28cm送锅盖 黑色</h1>
                            <p>1. DHT, 德国原产锅具品牌，全称Deutsche Hochwertige Töpfe。工厂总部位于德国工业基础雄厚的北莱茵-威斯特法伦州（Nordrhein-Westfalen），精心雕琢、五代传承，DHT工厂为多个世界知名锅具品牌提供生产加工服务；2.不含有害物质PFOA，不含重金属铬，放心使用；3.储能时间长，每月可节省更多能源；4.加厚锅底，烹饪少油烟</p>
                            <div class="detail-desc-info">
                                <div class="info-price clear">
                                    <p>喜地售价</p>
                                    <span>¥799.00</span>
                                </div>
                                <div class="info-color clear">
                                    <p>颜色</p>
                                    <ul class="clear">
                                        <li>
                                            <a href="#">
                                                <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0ad5684a663ffe940b8ea394bd10b833263500842dd515aa3d.jpeg/1500x1500/66" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="info-num clear">
                                    <p>数量</p>
                                    <div class="info-num-change">
                                        <a href="#" class="reduce"></a>
                                        <input type="text" value="1">
                                        <a href="#" class="plus"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-buy">
                                <a href="#" class="buynow">立即购买</a>
                                <a href="#" class="addcar">加入购物车</a>
                            </div>
                            <div class="detail-tip">
                                <div class="tip-l">
                                    <p><i></i>每天15:00从上海自贸区发货</p>
                                    <p><i></i>七天无理由退货</p>
                                </div>
                                <div class="tip-r">
                                    <a href="#">8</a>
                                    <p>用户评价</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-bottom">
                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0affc5de769202052d11645b85c6d99d393500842dd515aa3d.jpeg/800x984/800" alt="">
                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a993e3b90f614060766312857456c95ea358afc5948f29150.jpeg/800x505/800" alt="">
                    </div> -->
                </div>
                <div class="detail-side">
                    <div class="side-shop">
                        <div class="shop-head">
                            <a href="#" class="head">
                                <img src="https://static.xidibuy.com/images/shangjia.jpg" alt="">
                            </a>
                            <a href="#" class="title">
                                <h2>德国DHT厨具厂店
                                    </h2>
                            </a>
                        </div>
                        <div class="shop-link">
                            <a href="#" class="inshop">进入厂店</a>
                            <a href="#" class="connect">联系工厂代表</a>
                        </div>
                    </div>
                    <div class="side-hotgoods">
                        <h4>本店热销商品</h4>
                        <ul>
                            <li class="clear">
                                <div class="pic">
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a173158a8be86ed833bfa474d757f04423500842dd515aa3d.jpeg/800x800/180" alt="">
                                    </a>
                                </div>
                                <div class="words">
                                    <p>德国原产DHT钛合金微陶瓷复合涂层不粘炒锅燃气款30cm带锅盖</p>
                                    <span>¥1128.99</span>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="pic">
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a173158a8be86ed833bfa474d757f04423500842dd515aa3d.jpeg/800x800/180" alt="">
                                    </a>
                                </div>
                                <div class="words">
                                    <p>德国原产DHT钛合金微陶瓷复合涂层不粘炒锅燃气款30cm带锅盖</p>
                                    <span>¥1128.99</span>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="pic">
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a173158a8be86ed833bfa474d757f04423500842dd515aa3d.jpeg/800x800/180" alt="">
                                    </a>
                                </div>
                                <div class="words">
                                    <p>德国原产DHT钛合金微陶瓷复合涂层不粘炒锅燃气款30cm带锅盖</p>
                                    <span>¥1128.99</span>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="pic">
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a173158a8be86ed833bfa474d757f04423500842dd515aa3d.jpeg/800x800/180" alt="">
                                    </a>
                                </div>
                                <div class="words">
                                    <p>德国原产DHT钛合金微陶瓷复合涂层不粘炒锅燃气款30cm带锅盖</p>
                                    <span>¥1128.99</span>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="pic">
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a173158a8be86ed833bfa474d757f04423500842dd515aa3d.jpeg/800x800/180" alt="">
                                    </a>
                                </div>
                                <div class="words">
                                    <p>德国原产DHT钛合金微陶瓷复合涂层不粘炒锅燃气款30cm带锅盖</p>
                                    <span>¥1128.99</span>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="pic">
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a173158a8be86ed833bfa474d757f04423500842dd515aa3d.jpeg/800x800/180" alt="">
                                    </a>
                                </div>
                                <div class="words">
                                    <p>德国原产DHT钛合金微陶瓷复合涂层不粘炒锅燃气款30cm带锅盖</p>
                                    <span>¥1128.99</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="side-hotgoods">
                        <h4>本店热销商品</h4>
                        <ul>
                            <li class="clear">
                                <div class="pic">
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a173158a8be86ed833bfa474d757f04423500842dd515aa3d.jpeg/800x800/180" alt="">
                                    </a>
                                </div>
                                <div class="words">
                                    <p>德国原产DHT钛合金微陶瓷复合涂层不粘炒锅燃气款30cm带锅盖</p>
                                    <span>¥1128.99</span>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="pic">
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a173158a8be86ed833bfa474d757f04423500842dd515aa3d.jpeg/800x800/180" alt="">
                                    </a>
                                </div>
                                <div class="words">
                                    <p>德国原产DHT钛合金微陶瓷复合涂层不粘炒锅燃气款30cm带锅盖</p>
                                    <span>¥1128.99</span>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="pic">
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a173158a8be86ed833bfa474d757f04423500842dd515aa3d.jpeg/800x800/180" alt="">
                                    </a>
                                </div>
                                <div class="words">
                                    <p>德国原产DHT钛合金微陶瓷复合涂层不粘炒锅燃气款30cm带锅盖</p>
                                    <span>¥1128.99</span>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="pic">
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a173158a8be86ed833bfa474d757f04423500842dd515aa3d.jpeg/800x800/180" alt="">
                                    </a>
                                </div>
                                <div class="words">
                                    <p>德国原产DHT钛合金微陶瓷复合涂层不粘炒锅燃气款30cm带锅盖</p>
                                    <span>¥1128.99</span>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="pic">
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a173158a8be86ed833bfa474d757f04423500842dd515aa3d.jpeg/800x800/180" alt="">
                                    </a>
                                </div>
                                <div class="words">
                                    <p>德国原产DHT钛合金微陶瓷复合涂层不粘炒锅燃气款30cm带锅盖</p>
                                    <span>¥1128.99</span>
                                </div>
                            </li>
                            <li class="clear">
                                <div class="pic">
                                    <a href="#">
                                        <img src="https://image.xidibuy.com/shop/shop.ce00a3ab783c1d0a173158a8be86ed833bfa474d757f04423500842dd515aa3d.jpeg/800x800/180" alt="">
                                    </a>
                                </div>
                                <div class="words">
                                    <p>德国原产DHT钛合金微陶瓷复合涂层不粘炒锅燃气款30cm带锅盖</p>
                                    <span>¥1128.99</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="side-moregoods"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="footer-t">
            <div class="margin">
                <ul>
                    <li>
                        <a href="#">
                            <i></i>
                            <h4>海外进口</h4>
                            <p>欧美厂家直采</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i></i>
                            <h4>工厂直价</h4>
                            <p>低于当地店头价</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i></i>
                            <h4>原产纯品</h4>
                            <p>杜绝假货入侵</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i></i>
                            <h4>国内直邮</h4>
                            <p>海购享受次日达</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-b">
            <div class="margin">
                <div class="ft-help clear">
                    <ul>
                        <li><h4>购物指南</h4></li>
                        <li><a href="#">常见问题</a></li>
                        <li><a href="#">购物流程</a></li>
                        <li><a href="#">跨境购须知</a></li>
                        <li><a href="#">所有商品</a></li>
                    </ul>
                    <ul>
                        <li><h4>支付配送</h4></li>
                        <li><a href="#">支付方式</a></li>
                        <li><a href="#">配送方式</a></li>
                    </ul>
                    <ul>
                        <li><h4>售后服务</h4></li>
                        <li><a href="#">退货规则</a></li>
                        <li><a href="#">退款规则</a></li>
                        <li><a href="#">意见反馈</a></li>
                        <li><a href="#">投诉</a></li>
                    </ul>
                    <ul>
                        <li><h4>招商合作</h4></li>
                        <li><a href="#">成为代表商</a></li>
                        <li><a href="#">工厂入驻</a></li>
                        <li><a href="#">推荐商品</a></li>                
                    </ul>
                    <div class="help-side">
                        <div class="side-phone">
                            <img src="https://static.xidibuy.com/static/global/images/1.0.0/ewm-mobile-footer.png" alt="">
                            <p>手机喜地</p>
                        </div>
                        <div class="side-wx">
                            <img src="https://static.xidibuy.com/static/global/images/1.0.0/ewm-weixin-footer.png" alt="">
                            <p>喜地微信</p>
                        </div>
                    </div>
                </div>
                <div class="ft-about clear">
                    <div class="ft-about-l">
                        <a href="#" class="logo"></a>
                        <p>© 2019 喜地电子商务有限公司 版权所有</p>
                    </div>
                    <div class="ft-about-r">
                        <div class="ft-a-t clear">
                            <p>
                                <a href="#">沪公网安备 31011502004484号</a>
                                <span>沪ICP备14024930号</span>
                            </p>
                            <div class="join">
                                <a href="#">了解喜地</a>
                                <span>|</span>
                                <a href="#">加入喜地</a>
                                <span>|</span>
                                <a href="#">法律声明</a>
                                <span>|</span>
                                <a href="#">联系喜地</a>
                            </div>
                            <div class="phone"><i></i>
                                021-38473528</div>
                        </div>
                        <div class="ft-a-b">
                            <p>增值电信业务经营许可证：沪B2-20160183</p>
                            <span>|</span>
                            <p>食品流通许可证：SP3101151414200025</p>
                            <span>|</span>
                            <p>网络文化经营许可证：沪网文【2014】0579-129号</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/details-main.js" type="module"></script>
</html>