<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div id="cont">
        <div class="login">
            <div class="normal">
                <div class="login-logo">
                    <a href="index.html">
                        <img src="https://static.xidibuy.com/static/passport/images/1.0.0/login_logo.jpg" alt="">
                    </a>
                </div>
                <div class="login-check clear">
                    <div class="login-normal clear">
                        <span class="checkbox checked"></span>
                        <span>普通登录</span>
                    </div>
                    <div class="login-tel clear">
                        <span class="checkbox"></span>
                        <span>手机号快速登录</span>
                    </div>
                </div>
                <div class="login-error"></div>
                <div class="login-form">
                    <div class="form-normal">
                        <input type="text" id="user" placeholder="邮箱 / 手机 / 用户名"><br>
                        <input type="password" id="pass" placeholder="请输入密码">
                    </div>
                </div>
                <div class="login-remember clear">
                    <div class="rem-l">
                        <span class="check"></span>
                        <span>记住用户名</span>
                    </div>
                    <a href="#">找回密码</a>
                </div>
                <div class="login-btn">
                    <span class="btn">登录</span>
                </div>
                <div class="login-more clear">
                    <div class="third clear">
                        <a href="#" class="wb"></a>
                        <a href="#" class="qq"></a>
                        <a href="#" class="wx"></a>
                    </div>
                    <div class="tosignup">
                        <p>没有账号?<a href="register.html">前往注册</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footer-t">
            <a href="#">关于喜地</a>
            <a href="#">联系喜地</a>
            <a href="#">喜地首页</a>
        </div>
        <div class="footer-b clear">
            <p>&copy;2019 喜地电子商务有限公司 版权所有</p>
            <p>沪ICP备14024930号</p>
        </div>
    </div>
</body>
<script src="js/login-main.js" type="module"></script>
</html>