<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
    <div id="header">
        <div class="margin clear">
            <a href="index.html" class="logo">
                <img src="https://static.xidibuy.com/static/passport/images/1.0.0/signup_logo.png" alt="">
            </a>
            <div class="header-r">
                <p>您好，欢迎光临喜地！<a href="#">登录</a></p>
            </div>
        </div>
    </div>

    <div id="register-cont">
        <div class="register">
            <h1>欢迎注册</h1>
            <div class="reg-type">
                <a href="#">邮箱注册</a>
            </div>
            <div class="form">
                <div class="telbox">
                    <div class="tel">
                        <input type="tel" id="tel" placeholder="请输入11位手机号码">
                        <div class="error">
    
                        </div>
                    </div>
                    <div class="pic clear">
                        <input type="text" id="imgyz" placeholder="请输入图片验证码">
                        <div class="pic-r clear">
                            <img src="https://captcha.xidibuy.com/getimage?random=0.5677125002628836" alt="">
                            <a href="#">换一张</a>
                        </div>
                        <div class="error">
    
                        </div>
                    </div>
                    <div class="msg clear">
                        <input type="text" id="msgyz" placeholder="请输入短信验证码">
                        <span class="getyz">获取短信验证码</span>
                        <div class="error">
    
                        </div>
                    </div>
                    <div class="pass">
                        <input type="password" id="pass" placeholder="请输入密码，6-16位字母、数字、符号的组合">
                        <div class="error">
    
                        </div>
                    </div>
                </div>
            </div>
            <div class="reg-btn">
                <span class="btn">同意协议并注册</span>
            </div>
            <div class="reg-more clear">
                <div class="third clear">
                    <a href="#" class="wb"></a>
                    <a href="#" class="qq"></a>
                    <a href="#" class="wx"></a>
                </div>
                <div class="tologin">
                    <p><a href="#">
                            喜地服务协议</a></p>
                    <p>已有账号?<a href="login.html">前往登陆</a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="footer-t">
            <a href="#">关于喜地</a>
            <a href="#">联系喜地</a>
            <a href="#">喜地首页</a>
        </div>
        <div class="footer-b clear">
            <p>&copy;2019 喜地电子商务有限公司 版权所有</p>
            <p>沪ICP备14024930号</p>
        </div>
    </div>
</body>
<script src="js/register-main.js" type="module"></script>
</html>