<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/same.css">
    <link rel="stylesheet" href="css/car.css">
</head>
<body>
    <div id="header">
        <div class="top">
            <div class="margin">
                <div class="top-l">
                    <ul class="slidebox">
                        <li>
                            <a><span class="iconfont icon-phone"></span>手机喜地</a>
                        </li>
                        <li>
                            <a><span class="iconfont icon-wechat"></span>关注喜地</a>
                        </li>
                        <li>
                            <a><span class="iconfont icon-info"></span>客户服务</a>
                        </li>
                    </ul>
                    <div class="book">
                        <a href="#"><span class="iconfont icon-book-minus"></span>消费者告知书</a>
                    </div>
                    <div class="free">
                        <a href="#">全场满98包邮</a>
                    </div>
                </div>
                <div class="top-r">
                    <div class="user">
                        <a href="login.html" class="login">登录</a>
                        <a href="register.html" class="reg">注册</a>
                        <span>|</span>
                    </div>
                    <div class="dd"><a href="#">我的订单</a></div>
                    <div class="me"><a href="#">个人中心</a></div>
                    <div class="carbox">
                        <a href="#">
                            <span class="car"></span>
                            <span class="num">0</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hd margin">
            <a href="index.html" class="logo"></a>
            <form action="" class="search">
                <input type="text">
                <input type="button">
            </form>
            <ul>
                <li><a href="#"><span class="hw"></span>海外进口</a></li>
                <li><a href="#"><span class="gc"></span>工厂直价</a></li>
                <li><a href="#"><span class="yc"></span>原产纯品</a></li>
                <li><a href="#"><span class="gn"></span>国内直邮</a></li>
            </ul>
        </div>  
    </div>

    <div id="main">
        <div class="car-wrap">
            <div class="car-local clear">
                <p>配送至：</p>
                <div class="cities">上海</div>
                <span>已满足免运费条件</span>
                <a href="#">去首页继续逛逛></a>
            </div>
            <div class="car-th clear">
                <p class="check clear">
                    <i></i>
                    <span>全选</span>
                </p>
                <p class="goods">商品</p>
                <p class="price">单价（元）</p>
                <p class="num">数量</p>
                <p class="weight">重量</p>
                <p class="allprice">小计（元）</p>
                <p class="del">操作</p>
            </div>
            <div class="car-goods">
                <ul>
                    <!-- <li>
                        <div class="top">
                            <i></i>
                            <a href="#" class="name">韩国SYSMAX MYROOM厂店</a>
                            <a href="#" class="chat"></a>
                        </div>
                        <div class="tbody clear">
                            <div class="checked">
                                <i></i>
                                <img src="https://image.xidibuy.com/shop/shop.7afca799c93e8376fe289a359c75e800e30949942bc7ada2358afc5948f29150.jpeg/800x800/180" alt="">
                            </div>
                            <div class="goods">韩国原产SYSMAX MYROOM可折叠读书架阅读架支撑架</div>
                            <div class="price">¥109.00</div>
                            <div class="num">
                                <a href="#" class="reduce"></a>
                                <input type="text" value="1">
                                <a href="#" class="plus"></a>
                            </div>
                            <div class="weight">0.88kg</div>
                            <div class="allprice">¥109.00</div>
                            <div class="del">
                                <a href="#">删除</a>
                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
            <div class="car-finish">
                <div class="check">
                    <i></i>
                    <p>全选</p>
                </div>
                <div class="info">
                    <div class="info-price">
                        <p>应付金额：</p>
                        <span>¥0.00</span>
                    </div>
                </div>
                <div class="btn">
                    <a href="#">结算</a>
                </div>
            </div>
        </div>
    </div>


    <div id="footer">
        <div class="footer-t">
            <div class="margin">
                <ul>
                    <li>
                        <a href="#">
                            <i></i>
                            <h4>海外进口</h4>
                            <p>欧美厂家直采</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i></i>
                            <h4>工厂直价</h4>
                            <p>低于当地店头价</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i></i>
                            <h4>原产纯品</h4>
                            <p>杜绝假货入侵</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i></i>
                            <h4>国内直邮</h4>
                            <p>海购享受次日达</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-b">
            <div class="margin">
                <div class="ft-help clear">
                    <ul>
                        <li><h4>购物指南</h4></li>
                        <li><a href="#">常见问题</a></li>
                        <li><a href="#">购物流程</a></li>
                        <li><a href="#">跨境购须知</a></li>
                        <li><a href="#">所有商品</a></li>
                    </ul>
                    <ul>
                        <li><h4>支付配送</h4></li>
                        <li><a href="#">支付方式</a></li>
                        <li><a href="#">配送方式</a></li>
                    </ul>
                    <ul>
                        <li><h4>售后服务</h4></li>
                        <li><a href="#">退货规则</a></li>
                        <li><a href="#">退款规则</a></li>
                        <li><a href="#">意见反馈</a></li>
                        <li><a href="#">投诉</a></li>
                    </ul>
                    <ul>
                        <li><h4>招商合作</h4></li>
                        <li><a href="#">成为代表商</a></li>
                        <li><a href="#">工厂入驻</a></li>
                        <li><a href="#">推荐商品</a></li>                
                    </ul>
                    <div class="help-side">
                        <div class="side-phone">
                            <img src="https://static.xidibuy.com/static/global/images/1.0.0/ewm-mobile-footer.png" alt="">
                            <p>手机喜地</p>
                        </div>
                        <div class="side-wx">
                            <img src="https://static.xidibuy.com/static/global/images/1.0.0/ewm-weixin-footer.png" alt="">
                            <p>喜地微信</p>
                        </div>
                    </div>
                </div>
                <div class="ft-about clear">
                    <div class="ft-about-l">
                        <a href="#" class="logo"></a>
                        <p>© 2019 喜地电子商务有限公司 版权所有</p>
                    </div>
                    <div class="ft-about-r">
                        <div class="ft-a-t clear">
                            <p>
                                <a href="#">沪公网安备 31011502004484号</a>
                                <span>沪ICP备14024930号</span>
                            </p>
                            <div class="join">
                                <a href="#">了解喜地</a>
                                <span>|</span>
                                <a href="#">加入喜地</a>
                                <span>|</span>
                                <a href="#">法律声明</a>
                                <span>|</span>
                                <a href="#">联系喜地</a>
                            </div>
                            <div class="phone"><i></i>
                                021-38473528</div>
                        </div>
                        <div class="ft-a-b">
                            <p>增值电信业务经营许可证：沪B2-20160183</p>
                            <span>|</span>
                            <p>食品流通许可证：SP3101151414200025</p>
                            <span>|</span>
                            <p>网络文化经营许可证：沪网文【2014】0579-129号</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/car-main.js" type="module"></script>
</html>